$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #050d36,
        secondary: #23599d,
        b-light: #050d36,
    ),
    grey: (
        1: #f8fafa,
        2: #f5f6f8,
    ),
    text: (
        body: #000,
        1: #000,
        2: #777c90,
    ),
    theme: (
        1: #23599d,
        2: #f7f8f9,
    ),
    border: (
        1: #fff,
        2: #23599d,
    ),
);
